.App {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  background-color: white;
  color: black;
}

.Content {
  border: 2px solid yellow;
  flex: 1; /* Take remaining space next to the navbar */
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Navbar */
.navbar {
    width: 200px; /* Set the width of the navbar */
    background-color: #333; /* Background color */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items in a column */
    height: 100vh; /* Full height of the viewport */
}

.navbar a {
    padding: 15px; /* Space around each link */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Text color */
    text-align: center; /* Center text */
    border-bottom: 2px solid #444; /* Divider between links */
}
