.App {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  background-color: white;
  color: black;
  
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
  overflow-y: hidden; /* Add scroll if content overflows */
  overflow-x: auto;
}

.Content {
  flex: 1; 
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
