.SearchContent{
    display: flex;
    flex-direction: column; /* Stack items in a column */
    width: 100vw; /* Full width */
    border: 2px dotted blue;
    align-items: center;
  }
  
  .search {
    width: 75%; /* Full width */
    box-shadow: none;
    padding: 10px; /* Add some padding inside the search bar */
    
  }
  
  .searchbarList {
    width: 100%; /* Full width of the list, matching the search bar */
    /* border: 2px dotted orange; */
    margin-top: 20px; /* Space between the search bar and the list */
    font-size: 25px;
    margin-top: 10px; /* Space between list items */
    border-top: 1px solid gray;
  }
  
