.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 0, 0, 0); /* Black background with opacity */
}

.modal-content {
    
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(99, 95, 95);
    text-decoration: none;
    cursor: pointer;
}