.App {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  background-color: white;
  color: black;
}

.Content {
  border: 2px solid yellow;
  flex: 1; /* Take remaining space next to the navbar */
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Navbar */
.navbar {
  width: 200px; /* Set the width of the navbar */
  background-color: #333; /* Background color */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a column */
  height: 100vh; /* Full height of the viewport */
  
}

.navbar a {
  padding: 15px; /* Space around each link */
  text-decoration: none; /* Remove underline from links */
  color: white; /* Text color */
  text-align: center; /* Center text */
  border-bottom: 2px solid #444; /* Divider between links */
}

/* Searchbar and List  */
.SearchContent{
  display: flex;
  flex-direction: column; /* Stack items in a column */
  width: 100%; /* Full width */
  border: 2px dotted blue;
  align-items: center;
}

.search {
  width: 75%; /* Full width */
  box-shadow: none;
  padding: 10px; /* Add some padding inside the search bar */
  
}

.searchbarList {
  width: 100%; /* Full width of the list, matching the search bar */
  /* border: 2px dotted orange; */
  margin-top: 20px; /* Space between the search bar and the list */
}

ul li {
  
  font-size: 20px;
  margin-top: 10px; /* Space between list items */
  border-top: 1px solid gray;
}
